---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "../../components/layout.astro";
import Pagination from "../../components/pagination.astro";

const blogs = await getCollection("blog");
const orderedBlogs = blogs.sort((a, b) => a.data.id - b.data.id);
const pageSize = 3;
const lastPage = orderedBlogs.length / pageSize;
const limitedBlogs = orderedBlogs.slice(0, pageSize);
---

<Layout title="Blog" description="Blog">
    <div class="wrapper">
        <div class="container">
            <h1>Blog</h1>
            <ul>
                {
                    limitedBlogs.map((blog) => (
                        <div class="blogCard">
                            <div class="cardContainer">
                                <h2>{blog.data.title}</h2>
                                <p>{blog.data.excerpt}</p>
                                <p>{blog.data.date}</p>
                                <a href={`/blog/${blog.slug}`}>Read More</a>
                            </div>
                            <div class="blogImg">
                                <Image src={blog.data.image} alt={blog.data.title} height={300} width={1000}/>
                            </div>

                        </div>
                        <li>
                            <a href={`/blog/${blog.slug}`}>{blog.data.title}</a>
                        </li>
                    ))
                }
            </ul>
        </div>
        <Pagination lastPage={lastPage} />
    </div>
</Layout>
